* {
  box-sizing: border-box;
  font-family: Brandon Text,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}
body {
  background-color: #282c34;
  color: white;
  padding: 16px 20px 20px;
  font-family: Sans-Serif;
  text-align: center;
}
a{
  font-style: none;
  text-decoration: none;
}
.navbar{
  background-color: inherit;
  text-align: center;
  font-size: 17px;
  color: white;
  padding: 12px;
}
.navbar a{
  color: white;
  margin-left: 8px;
  margin-right: 8px;
}
.profile{
  text-align: left;
}
.profile_image {
  float: left;
  width: 20%;
  width: 100px;
  padding: 10px;
}
.profile_image img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border-radius: 50%;
}
.profile_text {
  float: left;
  width: 80%;
  width: calc(100% - 100px);
  padding: 10px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.social{
  padding: 16px;
  text-align: left;
}
.youtube{
  color: red;
  font-size: 17px;
}

@media screen and (max-width: 600px) {
  .profile_image {
    width: 100%;
  }
  .profile_text{
    width: 100%;
  }
}
